@use '../helpers/index' as *;

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 5;

  &.open {
    .header__inner {
      backdrop-filter: none;
      padding: 0;
      margin: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
    padding: 8px 8px 8px 24px;
    height: 100%;
    border-radius: 100px;

    @include tablet {
      justify-content: space-between;
      margin-inline: 8px;
      padding-right: 24px;
    }
  }

  &__logo {
    margin-right: auto;
    z-index: 5;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 48px;
      text-transform: uppercase;
      color: var(--color-white);
      font-size: 14px;

      @include tablet {
        flex-direction: column;
        align-items: start;
      }
    }
  }

  &__button {
    text-wrap: nowrap;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    border: none;
    padding-block: 80px;


    flex-direction: column;
    justify-content: end;
    row-gap: 24px;
    background-color: var(--color-gray-70);

    transition:
      opacity var(--transition-duration) ease,
      display var(--transition-duration) allow-discrete;

    &[open] {
      display: flex;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }

    &:not([open]) {
      display: none;
      opacity: 0;
    }

    @include tablet-above {
      display: contents !important;
    }
  }

  &__burger-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    height: 40px;

    &-icon--close {
      display: none;
    }

    &.is-active {
      .header__burger-button-icon--open {
        display: none;
      }

      .header__burger-button-icon--close {
        display: inline;
      }
    }
  }
}

