@use '../helpers/index' as *;

.partners-slider {
  overflow: hidden;
  width: 100%;
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  background-color: var(--color-gray-90);
  backdrop-filter: blur(50px);
  padding: 32px;

  &-track {
    display: flex;
    align-items: center;
  }

  &-item {
    flex-shrink: 0;
    margin-right: 80px;

    img {
      height: 20px;
      object-fit: contain;
      display: block;
    }
  }
}


