@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Urbanist";
  src: url("../../../public/fonts/Urbanist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../../public/fonts/Urbanist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family: 'Urbanist', sans-serif;
  --color-yellow-100: #FDF4CC;
  --color-yellow-200: #FAE999;
  --color-yellow-300: #F8DF67;
  --color-yellow-400: #F5D434;
  --color-yellow-500: #F3C901;
  --color-white: #FFFFFF;
  --color-gray-30: #C7D0D6;
  --color-gray-70: #6F7E8F;
  --color-gray-80: #35424F;
  --color-gray-90: #171C24;
  --color-gray-100: #080A0D;
  --color-error: #F30105;
  --color-info: #0105F3;
  --color-warning: #F3B201;
  --color-success: #52F301;
  --effect-glass: rgba(163, 167, 171, 0.18);
  --border-radius: 24px;
  --border-line: 1px solid rgba(156, 161, 167, 0.24);
  --container-width: 1312px;
  --container-padding-x: clamp(1rem, -0.2006403415rem + 5.1227321238vw, 4rem);
  --container-big-width: 1408px;
  --container-big-padding-x: clamp(0rem, -0.4002134472rem + 1.7075773746vw, 1rem);
  --mobile-width: 375px !important;
  --section-padding-y: clamp(3.5rem, -0.1019210245rem + 15.3681963714vw, 12.5rem);
  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.container-big {
  width: 100%;
  max-width: calc(var(--container-big-width) + var(--container-big-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-big-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width > 1023px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 767px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

body {
  font-size: 18px;
  font-family: var(--font-family);
  color: var(--color-gray-30);
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: var(--mobile-width);
  background-color: var(--color-gray-100);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  color: var(--color-white);
}

h1, .h1,
h3, .h3,
h4, .h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(2.375rem, 1.5245464248rem + 3.628601921vw, 4.5rem);
}

h2, .h2 {
  font-size: clamp(2rem, 1.5997865528rem + 1.7075773746vw, 3rem);
  font-weight: 600;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.2998932764rem + 0.8537886873vw, 2rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9749199573rem + 0.6403415155vw, 1.5rem);
  color: var(--color-gray-90);
}

h5, .h5 {
  font-size: 16px;
}

section {
  padding-top: var(--section-padding-y);
}
section:first-child {
  padding-top: 0;
}
section:last-child {
  margin-bottom: 64px;
}

.glass-effect {
  background-color: var(--effect-glass);
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius);
}

[id] {
  scroll-margin-top: 150px;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-gray-30);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-gray-30);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

.button {
  height: 48px;
  padding: 14px 24px;
  border-radius: 44px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.button--white {
  background-color: var(--color-white);
}
@media (any-hover: hover) {
  .button--white:hover {
    background-color: var(--color-gray-30);
  }
}
@media (any-hover: none) {
  .button--white:active {
    background-color: var(--color-gray-30);
  }
}
.button--yellow {
  background-color: var(--color-yellow-500);
}
@media (any-hover: hover) {
  .button--yellow:hover {
    background-color: var(--color-yellow-200);
  }
}
@media (any-hover: none) {
  .button--yellow:active {
    background-color: var(--color-yellow-200);
  }
}
.button.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(163, 167, 171, 0.18);
  color: var(--color-gray-80);
}

.slider__button {
  width: clamp(2.5rem, 2.2998932764rem + 0.8537886873vw, 3rem);
  height: clamp(2.5rem, 2.2998932764rem + 0.8537886873vw, 3rem);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--effect-glass);
  border: var(--border-line);
  border-radius: 16px;
  backdrop-filter: blur(12px);
  padding: 0;
  cursor: pointer;
}
.slider__button--next::before {
  transform: rotate(180deg);
}
.slider__button--prev::before {
  transform: rotate(0deg);
}
.slider__button::before {
  content: "";
  background-color: currentColor;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path d="M8.58311 12.448L14.767 6.26415C14.9029 6.12822 14.9757 5.96122 14.9854 5.76315C14.9951 5.56508 14.9223 5.38837 14.767 5.23302C14.6116 5.07767 14.4398 5 14.2514 5C14.0631 5 13.8912 5.07767 13.7358 5.23302L7.34517 11.6252C7.21797 11.7514 7.12865 11.881 7.07719 12.014C7.02573 12.147 7 12.2917 7 12.448C7 12.6043 7.02573 12.749 7.07719 12.882C7.12865 13.015 7.21797 13.1452 7.34517 13.2723L13.7358 19.663C13.8718 19.799 14.0388 19.8718 14.2368 19.8815C14.4349 19.8912 14.6116 19.8184 14.767 19.663C14.9223 19.5077 15 19.3358 15 19.1475C15 18.9591 14.9223 18.7872 14.767 18.6319L8.58311 12.448Z" fill="white"/> </svg>');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 24px;
  height: 24px;
}
.slider__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__button.swiper-button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(163, 167, 171, 0.18);
  color: var(--color-gray-80);
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 48px;
}
@media (width <= 1023px) {
  .section__header {
    flex-direction: column-reverse;
  }
}
.section__header-tag {
  text-transform: uppercase;
  color: var(--color-yellow-500);
  line-height: 1.6;
}
.section__header:has(.section__header-description) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.section__header:has(.section__header-description) .section__header-tag {
  justify-self: end;
}
.section__header-description {
  max-width: 317px;
}

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 5;
}
.header.open .header__inner {
  backdrop-filter: none;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 48px;
  padding: 8px 8px 8px 24px;
  height: 100%;
  border-radius: 100px;
}
@media (width <= 1023px) {
  .header__inner {
    justify-content: space-between;
    margin-inline: 8px;
  }
}
.header__logo {
  margin-right: auto;
  z-index: 5;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 14px;
}
@media (width <= 1023px) {
  .header__menu-list {
    flex-direction: column;
    align-items: start;
  }
}
.header__overlay-menu-dialog {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 80px;
  padding-inline: 12px;
  flex-direction: column;
  justify-content: end;
  row-gap: 24px;
  transition-duration: var(--transition-duration-longer);
  transition-behavior: allow-discrete;
  background-color: var(--color-gray-70);
}
.header__overlay-menu-dialog[open] {
  display: flex;
}
@starting-style {
  .header__overlay-menu-dialog[open] {
    opacity: 0;
    translate: 80%;
  }
}
.header__overlay-menu-dialog:not([open]) {
  opacity: 0;
  translate: 80%;
}
@media (width > 1023px) {
  .header__overlay-menu-dialog {
    display: contents;
  }
}
.header__burger-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 40px;
}
.header__burger-button-icon--close {
  display: none;
}
.header__burger-button.is-active .header__burger-button-icon--open {
  display: none;
}
.header__burger-button.is-active .header__burger-button-icon--close {
  display: inline;
}

.footer {
  color: var(--color-white);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  gap: 24px;
}
@media (width <= 767px) {
  .footer__top {
    flex-direction: column-reverse;
  }
}
.footer__brand {
  display: grid;
  gap: 24px;
}
@media (width <= 767px) {
  .footer__brand {
    grid-template-columns: 1fr 1fr;
  }
}
.footer__contacts {
  display: grid;
  gap: 4px;
}
.footer__menu {
  display: flex;
  gap: 48px;
  align-items: center;
  flex-wrap: wrap;
}
.footer__menu-item {
  text-transform: uppercase;
  font-size: 14px;
}
.footer__bottom {
  padding-top: 16px;
  border-top: var(--border-line);
  font-size: 15px;
  line-height: 1.5;
  display: grid;
  justify-items: center;
  gap: 8px;
}

.hero {
  --min-height: 682px;
  margin-top: 16px;
  padding: 0;
  margin-bottom: 40px;
}
@media (width <= 899px) {
  .hero {
    --min-height: 400px;
  }
}
.hero__inner {
  position: relative;
  min-height: var(--min-height);
  margin-inline: 16px;
}
.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  z-index: -1;
  filter: brightness(70%);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: var(--transition-duration);
}
.hero__bg.active {
  opacity: 1;
}
.hero__bg-link {
  position: absolute;
  inset: 0;
  display: block;
}
.hero__content {
  padding: 144px 48px 32px 48px;
  min-height: var(--min-height);
}
@media (width <= 899px) {
  .hero__content {
    padding: 110px 24px 16px 24px;
  }
}
.hero__info {
  max-width: 514px;
  display: grid;
  gap: 12px;
  color: var(--color-white);
}
.hero__tabs-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
.hero__tabs-item {
  position: relative;
  padding: 16px;
  width: 100%;
  height: 80px;
  cursor: pointer;
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-white) 0%, transparent 0%);
  background-repeat: no-repeat;
  transition: background-color 0.3s ease;
}
@media (width <= 899px) {
  .hero__tabs-item {
    height: 4px;
    padding: 0;
  }
  .hero__tabs-item::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: transparent;
  }
}
.hero__tabs-item span {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (width <= 899px) {
  .hero__tabs-item span {
    display: none;
  }
}
.hero__tabs-item span::after {
  content: "";
  background-color: var(--color-white);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 8px;
}
.hero__tabs-item.active {
  color: var(--color-gray-100);
}
.hero-slider__button-wrapper {
  padding-top: 106px;
  padding-bottom: 164px;
}
@media (width <= 899px) {
  .hero-slider__button-wrapper {
    padding-bottom: 184px;
  }
}

.about-us__wrapper {
  display: grid;
  gap: clamp(1.5rem, 0.6995731057rem + 3.4151547492vw, 3.5rem);
}
.about-us__content {
  display: flex;
  gap: clamp(1.5rem, 0.6995731057rem + 3.4151547492vw, 3.5rem);
  line-height: 1.6;
}
.about-us__content--top {
  align-items: flex-end;
}
@media (width <= 1199px) {
  .about-us__content--top {
    flex-direction: column-reverse;
  }
  .about-us__content--top .about-us__content-preview {
    max-width: none;
    width: 100%;
  }
}
.about-us__content--top.expanded .about-us__content-info {
  display: none;
}
.about-us__content--top.expanded .about-us__content-preview {
  display: none;
}
.about-us__content--top.expanded .about-us__content-video {
  display: block;
}
.about-us__content--top.expanded + .about-us__content--medium {
  display: flex;
  flex-direction: row-reverse;
}
@media (width <= 767px) {
  .about-us__content--top.expanded + .about-us__content--medium {
    display: grid;
  }
}
.about-us__content--top.expanded + .about-us__content--medium.expanded .about-us__content-gallery {
  grid-template-columns: 1fr;
}
.about-us__content--top.expanded + .about-us__content--medium.expanded .about-us__content-gallery .about-us__content-image:nth-of-type(1),
.about-us__content--top.expanded + .about-us__content--medium.expanded .about-us__content-gallery .about-us__content-image:nth-of-type(2) {
  max-width: 572px;
  display: block;
}
.about-us__content--top.expanded + .about-us__content--medium.expanded .about-us__content-info#text {
  max-width: 684px;
}
.about-us__content--top.expanded + .about-us__content--medium .about-us__content-info#text {
  -webkit-line-clamp: 9;
  max-width: 571px;
  min-width: 440px;
}
@media (width <= 767px) {
  .about-us__content--top.expanded + .about-us__content--medium .about-us__content-info#text {
    max-width: none;
    min-width: auto;
  }
}
.about-us__content--top.expanded + .about-us__content--medium .about-us__content-picture {
  display: none;
}
@media (width <= 767px) {
  .about-us__content--top.expanded + .about-us__content--medium .about-us__content-picture {
    display: block;
  }
}
.about-us__content--top.expanded + .about-us__content--medium .about-us__content-gallery {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  max-width: 685px;
}
@media (width <= 1023px) {
  .about-us__content--top.expanded + .about-us__content--medium .about-us__content-gallery {
    grid-template-columns: 1fr;
  }
  .about-us__content--top.expanded + .about-us__content--medium .about-us__content-gallery .about-us__content-image:nth-of-type(2) {
    display: none;
  }
}
@media (width <= 767px) {
  .about-us__content--top.expanded + .about-us__content--medium .about-us__content-gallery {
    display: none;
  }
}
.about-us__content--medium {
  display: grid;
  grid-template-columns: minmax(300px, 742px) minmax(300px, 514px);
}
@media (width <= 767px) {
  .about-us__content--medium {
    grid-template-columns: 1fr;
  }
}
.about-us__content--medium.expanded .about-us__content-wrapper {
  grid-row: span 2;
}
.about-us__content--medium.expanded .about-us__content-gallery {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-us__content--medium.expanded .about-us__content-info#text {
  display: block;
  -webkit-line-clamp: none;
}
.about-us__content--medium.expanded .about-us__content-info#text + p::before {
  margin-top: 0;
}
.about-us__content--medium.expanded .about-us__content-info#text p {
  display: block;
  margin-bottom: 20px;
}
@media (width <= 1023px) {
  .about-us__content--medium.expanded .about-us__content-gallery {
    display: flex;
    flex-direction: column;
  }
}
@media (width <= 767px) {
  .about-us__content--medium.expanded .about-us__content-gallery {
    display: none;
  }
}
.about-us__content-gallery {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.5rem, 0.6995731057rem + 3.4151547492vw, 3.5rem);
}
@media (width <= 767px) {
  .about-us__content-gallery {
    display: none;
  }
}
.about-us__content-gallery .about-us__content-image:nth-of-type(1) {
  max-width: 514px;
  width: 100%;
}
.about-us__content-gallery .about-us__content-image:nth-of-type(2) {
  max-width: 714px;
  width: 100%;
}
.about-us__content-image, .about-us__content-preview, .about-us__content-picture {
  border-radius: var(--border-radius);
  object-fit: cover;
  height: 100%;
  min-height: 230px;
}
.about-us__content-video {
  display: none;
  border-radius: var(--border-radius);
  min-height: 230px;
}
@media (width <= 767px) {
  .about-us__content-picture {
    max-height: 272px;
  }
}
.about-us__content .about-us__content-wrapper {
  position: relative;
}
.about-us__content-info#text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13;
  overflow: hidden;
  max-width: 514px;
  width: 100%;
}
@media (width <= 767px) {
  .about-us__content-info#text {
    max-width: none;
    -webkit-line-clamp: 6;
  }
}
.about-us__content-info#text p {
  margin: 0;
  display: inline;
}
.about-us__content-info#text p + p::before {
  content: "";
  display: block;
  margin-top: 20px;
}
.about-us__content-button {
  margin-left: auto;
  display: block;
  background-color: transparent;
  padding: 0;
  color: var(--color-white);
  border: none;
  text-decoration-line: underline;
}
@media (any-hover: hover) {
  .about-us__content-button:hover {
    color: var(--color-gray-70);
  }
}
@media (any-hover: none) {
  .about-us__content-button:active {
    color: var(--color-gray-70);
  }
}

.services {
  position: relative;
}
.services__slider {
  max-width: 1168px;
}
.services .services__inner {
  display: flex;
  gap: clamp(1rem, 0.7998932764rem + 0.8537886873vw, 1.5rem);
  align-items: center;
}
.services__item {
  height: auto !important;
  border-radius: var(--border-radius);
  border: var(--border-line);
  background-color: var(--color-gray-90);
  box-shadow: 0 4px 10px 0 rgba(82, 82, 82, 0.1);
}
.services .service-card {
  padding: clamp(1rem, 0.5997865528rem + 1.7075773746vw, 2rem);
}
.services .service-card__image {
  margin-bottom: 24px;
  max-height: 96px;
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
}
.services .service-card__body {
  display: grid;
  gap: 24px;
}
.services .service-card__description {
  color: var(--color-gray-30);
  line-height: 1.6;
}
.services .progressbar {
  position: absolute;
  bottom: -48px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.services .progressbar__track {
  max-width: clamp(12.5rem, 3.2450640342rem + 39.4877267876vw, 35.625rem);
  width: 100%;
  height: 16px;
  padding: 4px;
  background-color: var(--color-gray-90);
  border-radius: 100px;
  overflow: hidden;
}
.services .progressbar__fill {
  height: 100%;
  background-color: var(--color-gray-80);
  border-radius: 100px;
  transition: width 0.4s ease;
}
.services .slider__button {
  flex: 0 0 auto;
}

.services-slider__button-wrapper {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.process__reset {
  margin-left: auto;
  margin-bottom: 24px;
  display: block;
}
.process .board__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 24px;
}
@media (width <= 899px) {
  .process .board__columns {
    grid-template-columns: 1fr;
  }
}
.process .board__column {
  display: grid;
  gap: 16px;
}
.process .board__column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.process .board__column-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow-500);
  color: var(--color-white);
  border-radius: 100px;
  width: 28px;
  height: 28px;
  transform: translateY(1px);
  font-size: 14px;
  line-height: 1.5;
}
.process .board__column-list {
  padding: 24px;
  border: var(--border-line);
  background-color: var(--color-gray-90);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px 0 rgba(82, 82, 82, 0.1);
  display: grid;
  gap: 24px;
}
.process .board__column-item {
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(163, 167, 171, 0.18);
}
.process .board__column-item--empty {
  min-height: 181px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--color-gray-80);
  border: var(--border-line);
  background-color: transparent;
}
.process .task-card__header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.process .task-card__number {
  border-radius: 6px;
  background: rgba(163, 167, 171, 0.18);
  color: var(--color-yellow-500);
  padding: 4px 8px;
}
.process .task-card__title {
  font-size: 18px;
  color: var(--color-white);
  line-height: 1.6;
}
.process .task-card__description {
  font-size: 16px;
  color: var(--color-gray-30);
  line-height: 1.5;
}

.reviews__list {
  max-width: 1920px;
  display: flex;
  gap: 56px;
  align-items: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
}
.reviews__list::-webkit-scrollbar {
  display: none;
}
.reviews .review-card {
  max-width: 498px;
  flex: 0 0 auto;
  width: 100%;
  border: var(--border-line);
  border-radius: var(--border-radius);
  padding: 24px;
  box-shadow: 0 4px 10px 0 rgba(82, 82, 82, 0.1);
  display: grid;
  justify-items: start;
  gap: 24px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.reviews .review-card.expanded .review-card__quote {
  color: var(--color-yellow-500);
}
.reviews .review-card.expanded .review-card__text {
  display: block;
  -webkit-line-clamp: none;
}
.reviews .review-card__quote {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}
.reviews .review-card__quote::before {
  content: "";
  background-color: currentColor;
  mask-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none"><path d="M25.2 21.5999L28.7999 14.3999H21.6C13.644 14.3999 7.19995 24.4439 7.19995 32.3999V57.5999H32.4V32.3999H18C18 21.5999 25.2 21.5999 25.2 21.5999ZM50.3999 32.3999C50.3999 21.5999 57.5999 21.5999 57.5999 21.5999L61.2 14.3999H54C46.0439 14.3999 39.5999 24.4439 39.5999 32.3999V57.5999H64.7999V32.3999H50.3999Z" fill="white"/> </svg>');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 72px;
  height: 72px;
}
.reviews .review-card__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 1.6;
}
.reviews .review-card__author {
  display: flex;
  gap: 16px;
  align-items: center;
}
.reviews .review-card__author-photo {
  border-radius: 120px;
}
.reviews .review-card__author-info {
  display: grid;
  gap: 4px;
}
.reviews .review-card__author-name {
  font-size: 20px;
  font-weight: 600;
}
.reviews .review-card__author-role {
  color: var(--color-gray-70);
}

.partners-slider-track {
  overflow: hidden;
  max-width: 1920px;
  display: flex;
  padding: 32px 80px;
  align-items: center;
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  background-color: var(--color-gray-90);
  backdrop-filter: blur(50px);
}
.partners-slider-item {
  flex-shrink: 0;
  margin-right: 80px;
}
.partners-slider-item img {
  display: block;
  height: 32px;
  max-width: 130px;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
